<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>EAN</title>
    <base href="/">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="styles.8253ac6a9d8a7a0d162d.bundle.css" rel="stylesheet" />
</head>

<body>
    <!-- @对应Angular1的ng-view渲染 -->
    <app-root>
        <div class="splash-screen">
            <div class="splash-loader"></div>
            <!-- 为何要加上 / 这个才能找到呢？ -->
            <img class="splash-logo" src="/assets/imgs/mask.svg">
        </div>
    </app-root>
    <script type="text/javascript" src="inline.da9bb779884564ee4db2.bundle.js"></script>
    <script type="text/javascript" src="polyfills.3f1c24c12143c1153ef0.bundle.js"></script>
    <script type="text/javascript" src="main.effc0a6f35904a685026.bundle.js"></script>
</body>

</html>